<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sc.variable name="sourceFolder" value="C:\Development\2018-Debug-Starts-Here\src" />
    <sc.variable name="rootHostName" value="hackathon.sc" />
    <sc.variable name="xConnectHostName" value="hackathon.xconnect" />
      <sc.variable name="xConnectThumbprint" value="AFAAD5ABFFB18EAEF3BFAEA927C4E96BF746E0A4" />
    <sites>
      <site name="helixbase">
        <patch:attribute name="database">master</patch:attribute>
      </site>
    </sites>
  </sitecore>
</configuration>