<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <!-- xConnect Settings -->
            <setting name="xConnect.Thumbprint" value="0B707780C8ED51F52BD34C3229C61756A34B921D" />
            <setting name="xConnect.Url" value="https://sc91.xconnect.local" />
        </settings>
    </sitecore>
</configuration>